body {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  background: #ccc;
}

#gewinde { display: block; width: 300px; float:left;}
#grafik { width: 200px; padding: 20px; float:left; border: 1px solid black; margin-left: 20px; background: #fff;}

input.fehler { background-color: #f44;}

#fehler ul {
  background-color: red;
}
